<!DOCTYPE html>\n  <html>\n  <head>\n  \n  
</head>\n  
  <body>\n    
    <h1>\"Buster's Best Bowling Alley\...l A Strike Every Time</h2>\n    <p>97 Bowling AlleyLane, Boulder CO</p>\n    \n  </body>\n  </html>